 body, html{
 	height: 100%;
 }

 .disclaimer {
	background-color: #a94442;
	color: #fff;
	display: block;
	text-align: center;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
	padding: 10px 0;
}

 .contactfooter {
	background-color: #00A0C6;
	color: #fff;
	display: block;
	text-align: center;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
	padding: 10px 0;
}

 .css-form input.ng-invalid.ng-dirty {
        border-color: #D30238;
        box-shadow: 0 0 0px #D30238;
      }
  .validation-message {
  		color: #D30238;
  		text-align: left !important;
  }


  .long-label {
  	padding-top: 0 !important;
  	position: relative;
  	top: -4px;
  }


      .css-form input.ng-valid.ng-dirty {
        /*background-color: #78FA89;*/
      }

body {
  padding-top: 70px;
}

.nav, .pagination, .carousel a, a { cursor: pointer; }

.container {
max-width: 1300px;
}

#accordion2 h4 {
	border-bottom: 1px solid #ddd; 
	padding: 5px 0; 
	margin: 15px 0 15px 0;
}

span.required {
	color: #df4252;
	font-size: larger;
}

/** manage projects */

#manage_projects_controls {
	margin-bottom: 20px;
}

#manage_projects_controls .btn-group {
	margin-right: 20px;
}

/** ADD Project */

#ecm-container {
	/*margin-top: 90px;*/
	margin-top: 30px;
}

#project-form-tab {
	/*margin-top: 140px;*/
	margin-top: 30px;
}

#project-level-tabs {

	background-color: white;
	z-index: 10;
		margin-top: 30px;

}

#add-project-header {
	padding-bottom: 15px;
	background-color: white;
	z-index: 10;
	padding-top: 20px;
}

#add-project-header h3 {
	padding-top: 6px;
	margin-top: 0;
	padding-right: 30px;
}

#add-project-steps {
	list-style:none;
	padding: 6px 0;
	margin: 0;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	width: 900px;
	
}

#add-project-steps li {
	display: inline;
	font-size: 20px;
	margin-right: 40px;
}

#add-project-steps li.active {
	font-weight: bold;
}

#add-project-steps li .step-marker {
	padding: 7px 15px;
	background-color: #e5e5e5;
	border-radius: 500px 500px 500px;
	color: #fff;
	font-weight: bold;
}

#add-project-steps li.active .step-marker {
	background-color: #009FC2;
}

#add-project-steps a:hover .step-marker {
	
	background-color: #a3d066;

}

/* give some spacing for sort icons in the table*/
.table thead tr th {
	padding-right: 15px;
}


/** ECM Page */

#ecm_data_col h3 {
	margin-top: 0;
	font-size: 1.5em;
} 

#num_installed {
	padding-left: 15px;
	font-weight: bold;
}

#ecm_content {
	padding: 20px 0;
	border-top: 1px solid #e5e5e5;
	border: 1px solid #e5e5e5;
	margin-bottom: 50px;
}

#login_section {

	padding: 5px 20px 20px 20px;
	border: 1px solid #E6E6E6;
	background-color: #E6E6E6;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}

/*.tooltip {
	position: fixed;
}
*/
/* transitons */
  .fade-enter-setup, .fade-leave-setup {
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.fade-enter-setup,
.fade-leave-setup.fade-leave-start {
  opacity: 0;
}
.fade-leave-setup,
.fade-enter-setup.fade-enter-start {
  opacity: 1;
}

.derived_panel {
	background-color: #fcf8e3;
			border: 1px solid #FBEED5;
			padding-left: 30px;
			padding-bottom: 30px;
			border-radius: 4px 4px 4px 4px;
			font-size: .85em;
}

.tabsubsection {
	border-top: 1px solid #ccc; 
	margin-top: 30px; 
	margin-bottom: 30px;
}

.tabsubsectionfirst {
	margin-top: 3px;
}

ul.nav-tabs li.tabbutton {
	width: 180px;
}

ul.nav-tabs li.tabbutton a {
	background-color: #428BCA;
	width: 110px;
	color: #fff;
	padding-left: 40px;
}

ul.nav-tabs li.tabbutton a:after {
	border-color: transparent transparent transparent #428BCA;
	right: 50px;
}


    .fixedcoltable {
        width: 800px;
        overflow-x:scroll;  
        margin-left:220px;
        overflow-y:visible;
        padding-bottom:1px;
    }
    .headcol {
    	text-align: right;
        position:absolute;
        width: 220px;
        left:0;
        top:auto;
        border-top-width:3px; /*only relevant for first row*/
        margin-top:-3px; /*compensate for top border*/
        font-weight: bold;
    }

    #incentivestable.fixedcoltable {
    	margin-left:100px;
    	width: 920px;
    }
    #incentivestable .headcol {
    	width: 100px;
    }

    #wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -110px;
  /* Pad bottom by footer height */
  padding: 0 0 140px;
}
/* for the footer */
#footer {
   /* margin-top: 60px;
    position: relative;
    bottom: 0px; */
    height: 110px;
}

#footer ul {
    text-align: center;
}

#footer ul li {
    display: inline;
    padding: 20px;
    
}



#footer img {
    position: relative;
    top: -3px;
    height: 55px;
}


/* user home */

		#manage_projects_section h2 {
			margin-bottom: 40px;
		}
		#manage_projects_section h3 {
			font-size: 22px;
		}
		#manage_projects_section .actions_menu {
			margin-bottom: 40px;
		}

		#project_status_section {
			background-color: #fcf8e3;
			border: 1px solid #FBEED5;
			padding-left: 30px;
			padding-bottom: 30px;
			border-radius: 4px 4px 4px 4px;
		}

		#project_status_section li {
			list-style: none;
			padding-bottom: 5px;
		}


		#project_status_section h3 {
			margin-bottom: 30px;
		}

//alerts
@keyframes fadeOut
{
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@-webkit-keyframes fadeOut 
{
  from { opacity: 1.0 }
  to { opacity: 0.0 }
}

.fade-out
{ 
  animation: fadeOut 2s infinite;
  -webkit-animation: fadeOut 2s infinite;
}



