
*.successful {color: #60BE60}
*.failed {color: #E55753}
*.waitingPaused {color: #FAAB3C}
*.runningActive {color: #428BCA} /*dark blue*/
*.pending {color: #5BC0DE}       /*light blue*/

/*
.list-group-item{
	display: inline;

}

.white, .white a  {
  color: #ffffff;
}
*/

button{
	/*outline: none;
	border:none;
	background-color: #ffffff;
	box-shadow: 0px 0px 0px #ffffff;
	/padding-left: 15px;
	padding-right: 20px;
	margin-right: 5px;
    margin-left: 5px;*/
    padding-bottom: 5px;
    margin-left: 5px;

}

.glyphicon {
    word-spacing: -0.5em;

    &:before {
        padding-right: 0.5em;
    }
}

table {
	/*top: 50000px;*/
	border-collapse: collapse;
}

table th, table td {
	/*
	border-left: 1px solid #787878;
	border-right: 1px solid #787878;
	*/
	border: 1px solid #787878;
	text-align: left;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	white-space: nowrap;
}

table td{font-size: small;}
table tr.odd {background-color: #ddd;}
table tr.even {background-color: white;}

table tr.hover{
	background-color: #DDFF75 !important;
}


.dataTables_info{
	float:left;
	font-size: small;
}
.dataTables_filter{
	float:left;
}
.dataTables_paginate.paging_bootstrap.pagination.pagination-right{
	float: right;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top:0px;
	margin-top: 0px;
	font-size: small;
}
