
  
  <script src="js/queueTaskDetailsDataTable.js"></script>

<!--<a ng-href="http://localhost/qdoUI/app.html#/home"> home </a> &bull;
<a ng-href="http://localhost/qdoUI/app.html#/home/{{username}}"> userhome </a>-->
<button class="glyphicon" style="float:right" ng-click="logOut()" >Log out</button>
<button class="glyphicon" style="float:right" ng-click="goToUserhomePage()" >Userhome</button>
<h1 style="margin-bottom:3px;">{{username}}'s {{ queue.name }} queue.</h1>
<p class="lead">{{ queue.name }} is {{ queue.state }} and has {{queue.ntasks.Waiting + queue.ntasks.Running + queue.ntasks.Pending}} tasks left to do.</p>
    <p class="lead"> {{ page_body }} </p>
    <ul class="list-group">
        <li class="list-group-item">
          <span ng-if="succeeded(queue)" >
            <span class="glyphicon glyphicon-ok icon-green"></span>
          </span>
          <span ng-if= "failed(queue)" >
            <span class="glyphicon glyphicon-warning-sign icon-red"></span>
          </span>
          <span ng-if= "inProgress(queue)" >
            <span class="glyphicon glyphicon-road icon-orange"></span>
          </span>
          {{ queue.name }}
          <div class="progress pull-right" style="width: 80%">
            <div class="progress-bar progress-bar-warning" style="width: {{ percent(queue, 'Waiting') }}%">
              <span>{{ queue["ntasks"]["Waiting"] }}</span>
            </div>
            <div class="progress-bar" style="width: {{ percent(queue, 'Pending') }}%">
              <span>{{ queue["ntasks"]["Pending"] }}</span>
            </div>
            <div class="progress-bar progress-bar-info" style="width: {{ percent(queue, 'Running') }}%">
              <span>{{ queue["ntasks"]["Running"] }}</span>
            </div>
            <div class="progress-bar progress-bar-success" style="width: {{ percent(queue, 'Succeeded') }}%">
              <span>{{ queue["ntasks"]["Succeeded"] }}</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: {{ percent(queue, 'Failed') }}%">
              <span>{{ queue["ntasks"]["Failed"] }}</span>
            </div>
          </div> 
          
        </li>
    </ul>
    <span ng-if="succeeded(queue)" >
      <button class="glyphicon glyphicon-repeat icon-orange post" type="button" ng-click="rerun()"> Rerun all tasks.</button>
    </span>
    <span ng-if= "failed(queue)" >
      <button class="glyphicon glyphicon-repeat icon-orange post" type="button" ng-click="rerun()"> Rerun all tasks.</button>
      <button class="glyphicon glyphicon-refresh icon-red post" type="button" ng-click="retry()"> Retry failed tasks.</button>
    </span>
    <span ng-if= "inProgress(queue)" >
      <button class="glyphicon glyphicon-repeat icon-orange post" type="button" ng-click="rerun()"> Rerun all tasks.</button>
      <button class="glyphicon glyphicon-pause icon-orange post" type="button" ng-click="pause()"> Pause queue.</button>
      <button class="glyphicon glyphicon-play icon-orange post" type="button" ng-click="resume()"> Resume queue.</button>
    </span>
<p class="lead">Task Details</p>
<div class= "container">
  
  <table id="queueTaskDetailTable" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" margin-top: "1000">
        <thead>
          <tr>        
            <th>ID</th>
            <th>State</th>
            <th>Task</th>
          </tr>
        </thead>
        <tbody></tbody>    
    </table>
  
<!--
  <table id="queueTaskDetailTable" class="table table-striped table-condensed table-hover">
                  <thead>
                      <tr>
                          <th class="ID">ID&nbsp;<a ng-click="sort_by('id')"><i class="icon-sort"></i></a></th>
                          <th class="State">State&nbsp;<a ng-click="sort_by('state')"><i class="icon-sort"></i></a></th>
                          <th class="Task">Task&nbsp;<a ng-click="sort_by('task')"><i class="icon-sort"></i></a></th>
                      </tr>
                  </thead>
                  <tfoot>
                      <td colspan="6">
                          <div class="pagination pull-right">
                              <ul>
                                  <li ng-class="{disabled: currentPage == 0}">
                                      <a href ng-click="prevPage()">« Prev</a>
                                  </li>
                                  <li ng-repeat="n in range(queueTaskDetails.length)"
                                      ng-class="{active: n == currentPage}"
                                  ng-click="setPage()">
                                      <a href ng-bind="n + 1">1</a>
                                  </li>
                                  <li ng-class="{disabled: currentPage == queueTaskDetails.length - 1}">
                                      <a href ng-click="nextPage()">Next »</a>
                                  </li>
                              </ul>
                          </div>
                      </td>
                  </tfoot>
                  <tbody>
                      <tr ng-repeat="item in queueTaskDetails[currentPage] | orderBy:sortingOrder:reverse">
                          <td>{{item["id"]}}</td>
                          <td>{{item["state"]}}</td>
                          <td>{{item["task"]}}</td>
                      </tr>
                  </tbody>
              </table> 

-->
            
</div>











