<button style="float:right" ng-click="logOut()" >Log out</button>
<h1>Hello {{username}}, you have {{nqueues}} queues.</h1>
    <p class="lead"> Click on the name of a queue to see a details page for that queue. </p>
    <ul class="list-group">
        <li ng-repeat="queue in queues" class="list-group-item">

          <span ng-if="succeeded(queue)" >
            <span class="glyphicon glyphicon-ok successful"></span>
          </span>
          <span ng-if= "failed(queue)" >
            <span class="glyphicon glyphicon-warning-sign failed"></span>
          </span>
          <span ng-if= "inProgress(queue) && isPaused(queue)" >
            <span class="glyphicon glyphicon-road waitingPaused"></span>
          </span>
          <span ng-if= "inProgress(queue) && isActive(queue)" >
            <span class="glyphicon glyphicon-road runningActive"></span>
          </span>

          <a ng-href="./qdo.html#/home/{{username}}/{{queue.name}}"> {{ queue.name }} </a>
          <span ng-if="succeeded(queue)" >
            <button type="button" ng-dialog="deleteSuccessfulQueueModal" ng-dialog-controller="deleteQueueController" ng-dialog-show-close="false" class="pull-right glyphicon glyphicon-remove failed" ng-click="storeQueueName(queue.name)"></button>
          </span>
          <span ng-if="!succeeded(queue)" >
            <button type="button" ng-dialog="deleteModal" ng-dialog-controller="deleteQueueController" ng-dialog-show-close="false" class="pull-right glyphicon glyphicon-remove failed" ng-click="storeQueueName(queue.name)"></button>
          </span>  
          <div class="progress pull-right" style="width: 80%">
            <div class="progress-bar progress-bar-success" style="width: {{ percent(queue, 'Succeeded') }}%">
              <span>{{ queue["ntasks"]["Succeeded"] }}</span>
            </div>
            <div class="progress-bar" style="width: {{ percent(queue, 'Running') }}%"> <!--dark blue-->
              <span>{{ queue["ntasks"]["Running"] }}</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: {{ percent(queue, 'Waiting') }}%">
              <span>{{ queue["ntasks"]["Waiting"] }}</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: {{ percent(queue, 'Failed') }}%">
              <span>{{ queue["ntasks"]["Failed"] }}</span>
            </div>
            <div class="progress-bar progress-bar-info" style="width: {{ percent(queue, 'Pending') }}%"> <!--light blue-->
              <span>{{ queue["ntasks"]["Pending"] }}</span>
            </div>
          </div>   
        </li>
    </ul>
    <div class="pull-right">
  Key: 
  <span class="successful">Succeeded</span>
  <span class="runningActive">Running</span>
  <span class="waitingPaused">Waiting</span>
  <span class="failed">Failed</span>
  <span class="pending">Pending</span>
</div>
<span class="pull-left">
  <p>Enter a new queue name below and hit "Create Queue" to get started with a fresh queue.</p>
  <input type="text" ng-model="newQueueName">
  <button ng-click="createQueue()" >Create Queue</button>
</span>



<!-- DELETE MODAL WINDOW-->
<script type="text/ng-template" id="deleteSuccessfulQueueModal">
  <div class= "ng-modal-dialog">
    <div class = "ng-modal-dialog-content">
      <p>Are you sure you want to delete your {{queuename}} queue? This action cannot be undone.</p>
      <span class="pull-right">
        <button class="failed" type="button" ng-click="deleteQueue(queuename)"> Delete</button>
        <button type="button" ng-click="closeDeleteModal()"> Cancel</button>
      </span>
    </div>
  </div>
</script>

<script type="text/ng-template" id="deleteModal">
  <div class= "ng-modal-dialog">
    <div class = "ng-modal-dialog-content">
      <p>Are you sure you want to delete your {{queuename}} queue? This action cannot be undone.</p>
      <p class="failed">WARNING: This queue has unfinished tasks.</p>
      <span class="pull-right">
        <button class="failed" type="button" ng-click="deleteQueue(queuename)" style="margin-bottom:10px;"> Delete</button>
        <button type="button" ng-click="closeDeleteModal()" style="margin-bottom:10px;"> Cancel</button>
      </span>
    </div>
  </div>
</script>




